body {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    background-color: whitesmoke;
    font-size:12px;
    padding:5px;
}

a:link, a:visited, a:active {
    color: black;
    text-decoration:none;
}

a {
    position: relative;
    display: inline-block;
    color: black;
    font-size:12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
}

a:before{
    position: absolute;
    top: 100%;
    content: attr(title);
    color:#333;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

a:hover {
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    transform: translateY(-10%);
}